.gamediv{
    display: flex;
    flex-direction: column;
}
.gamediv1{
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
}
.gamediv1h1{
    font-size: 80px;
    font-weight: 900;
    color: #000;
    text-align: center;
    margin-bottom: -10px;
}
.gamediv1p1{
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 600;
}
.gamedivbtn{
    display: flex;
}
.gamedivbtnp{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: red;
}
.boxbtnlight{
    all: unset;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    margin: 10px;
}
.boxbtndark{
    all: unset;
    border: 2px solid black;
    border-radius: 4px;
    color:white;
    background-color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    margin: 10px;
}
.gamediv1p2{
    display: flex;
    justify-content: end;
    color: #000;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 900;
    padding-right: 10px;
}
.gamediv2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}
.gamediv2p{
    font-size: 24px;
    color: #000;
    font-weight: 700;
}
.gamefooterbtn1{
    all: unset;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 60px 10px 60px;
    display: flex; 
    border-radius: 4px;
    transition: 0.4s background ease-in;
}
.gamefooterbtn1:hover{
    background-color: black;
    color: white;
    transition: 0.5s background ease-in;
}
.gamefooterbtn2{
    all: unset;
    position: relative;
    background-color: black;
    color: white;
    top: 10px;
    border: 1px solid black;
    padding: 10px 62px 10px 62px;
    display: flex; 
    border-radius: 4px;
    transition: 0.4s background ease-in;
}
.gamefooterbtn2:hover{
    background-color: white;
    color: black;
    transition: 0.5s background ease-in;
}